html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #FFFFFF;
}

#content {
	width: 85%;
	margin: 0 auto;
	text-align: center;
	min-width: 900px;
	z-index: 1;
}

#upper_bar {
	background-color: #003366;
	height: 25px;
	color: #FFFFFF;
	padding-top: 6px;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

#menu-bar {
	
	height: 50px;
	position: sticky;
	top: 0px;
	background-color: white;
	z-index: 2;
}

#menu-logo {
	height: 40px;
	padding-top: 6px;
	display: inline-block;
	vertical-align: middle;
}

#menu-buttons-left {
	display: inline-block;
	vertical-align: middle;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #3f5782;
	letter-spacing: 2px;
	font-size: 12px;
	position: absolute;
	left: 2%;
	top: 50%;
	transform: translateY(-50%);
}

#menu-buttons-right {
	display: inline-block;
	vertical-align: middle;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #3f5782;
	letter-spacing: 2px;
	font-size: 12px;
	position: absolute;
	right: 2%;
	top: 50%;
	transform: translateY(-50%);

}

.button {
	display: inline-block;
	margin-right: 3px;
	margin-left: 3px;
	padding-bottom: 2px;
}

.button:hover {
	border-bottom: 1px solid #3f5782;
}

#product-categories {
	margin-top: 60px;
	position: relative;
	height: 600px;
	min-width: 1100px;
}

#forHim {
	background-image: url("men.png");
	background-size: cover;
	width: 500px;
	height: 500px;
	display: inline-block;
	position: absolute;
	left: 2%;
	opacity: 0.8;
	transition: opacity 0.5s;
}

#forHim:hover {
	opacity: 1;
}

#forHer {
	background-image: url("women.png");
	background-size: cover;
	width: 500px;
	height: 500px;
	display: inline-block;
	position: absolute;
	right: 2%;
	opacity: 0.8;
	transition: opacity 0.5s;
}

#forHer:hover {
	opacity: 1;
}

#shopNowHim {
	position: absolute;
	height: 60px;
	width: 200px;
	bottom: 6%;
	left: 8%;
	text-align: left;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 1%;
	font-weight: 600;
}

#shopNowHer {
	position: absolute;
	height: 60px;
	width: 200px;
	bottom: 6%;
	right: 8%;
	text-align: right;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	padding-right: 1%;
	font-weight: 600;
}

.shop-button {
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
	border: 2px solid white;
	transition: background-color 0.5s, color 0.5s;
}

.shop-button:hover {
	background-color: white;
	color: black;
}

footer {
	background-color: #000d1a;
	height: 25px;
	color: #FFFFFF;
	padding-top: 6px;
	text-transform: uppercase;
	text-align: right;
	padding-right: 8%;
	font-size: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
}